---
layout: compress
title: About Me
permalink: /about-me/
group: nav
weight: 1
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body class="mkt">
{% include header.html %}

<div id="intro2" class="container-fluid c2">
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-left">“Empowering Organizations Through Evolutionary Use Of Technology.”</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Evolution And The Hacker State of Mind</h2>
            <p class="lead">
                I'm a big believer in having a hacker mindset. Which, might have some negative connotations for you; if it
                does check out this article: http://www.catb.org/~esr/faqs/hacker-howto.html#what_is<br/>
            </p>
            <blockquote>“Hackers solve problems and build things, and they believe in freedom and voluntary mutual help.”</blockquote>
            <p class="lead">
                Very little truly new, never before seen ideas exist. Rather than create absolutely new, we tend
                to iterate on past ideas and combine things that we've seen or experienced into new ideas. It is through
                constant iteration that we see innovation start to take hold, and it looks a lot like evolution. We will
                experience consistent incremental changes with a big leap every now and then. And all we have to do
                to make it work is follow Daft Punk when they say:
            </p>
            <h3 class="text-left">Work It Harder<br/>
                Make It Better<br/>
                Do It Faster<br/>
                Makes us stronger<br/>
                More Than Ever Hour After<br/>
                Our Work Is Never Over<br/>
            </h3>

            <h2>The Four Pillars Of Your Technology Group</h2>

            <p class="lead">
                The mission statement above is realized and brought to life when your technology group delivers
                excellence
                in these four primary areas: <em>Performance, Reliability, Scalability and Cost</em>. I'll briefly talk
                about each one of these and give examples of some key metrics. These are defined
                differently for every system, so my examples given below are generalized for <em>web services</em>.
            </p>

            <h3 class="text-left">Performance</h3>

            <p class="lead">
                The capabilities of your systems observed under particular conditions. Identify the key operating
                characteristics
                and a set of conditions under which to observe your systems. The better your systems perform, the better
                your
                company performs.
            </p>
            <h4 class="text-left">Key Metrics:</h4>
            <ul>
                <li>Time to First Byte</li>
                <li>Page Load Time</li>
                <li>CPU Processing Time (View execution time in a MVC world)</li>
                <li>Bytes Downloaded</li>
                <li>Total Number of Requests Required (especially important for service composition, which gets into how
                    the services are defined and compartmentalized and how they service your users' requests.)
                </li>
            </ul>
            <h4 class="text-left">Success:</h4>
            <ul>
                <li>Bake performance measurement into your full software development life cycle (SDLC).</li>
                <li>Publish the performance of key web pages or web services to the rest of your organization.</li>
                <li>Constantly refactor implementations to accommodate changing user interactions and requirements.</li>
            </ul>
            <h3 class="text-left">Reliability</h3>

            <p class="lead">
                The consistency of all measures of your systems. How consistently your systems perform according to the
                characteristics and conditions identified above. A high degree of reliability in your systems is a
                primary driver of trust between you and your customers.
            </p>
            <h4 class="text-left">Key Metrics:</h4>
            <ul>
                <li>Low variance of performance measurements taken over time.</li>
            </ul>
            <h4 class="text-left">Success:</h4>
            <ul>
                <li>Reliability is an extension of performance</li>
                <li>Make reliability testing is a core function of your QA group</li>
                <li>Monitor error logs for uses that you didn't take into account</li>
            </ul>
            <h3 class="text-left">Scalability</h3>

            <p class="lead">
                The ability of your systems to continue operating with a similar degree of performance and reliability
                as
                their workload volume increases. Most commonly this is surfaced as a growing number of concurrent
                consumers
                of your web services.
            </p>
            <h4 class="text-left">Key Metrics:</h4>
            <ul>
                <li>Number of users or consumers</li>
                <li>Number of requests per second served</li>
            </ul>
            <h4 class="text-left">Success:</h4>
            <ul>
                <li>Handle normal workloads</li>
                <li>Handle surge workloads</li>
                <li>Fail gracefully</li>
                <li>Have monitoring in place so you know when you need to take action</li>
            </ul>
            <h3 class="text-left">Cost</h3>

            <p class="lead">
                Cost permeates every aspect of your organization from salaries, to time to market, to the actual
                cost of each request or customer serviced. The better we can measure cost the better we will be at
                optimizing systems and driving cost down.
            </p>
            <h4 class="text-left">Key Metrics:</h4>
            <ul>
                <li>People time</li>
                <li>Machine time</li>
                <li>Infrastructure</li>
                <li>Third party services</li>
            </ul>
            <h4 class="text-left">Success:</h4>
            <ul>
                <li>Optimize for cost while maintaining the integrity of the other three pillars</li>
            </ul>

            <h2>Powering Your Organization Through Technology Leadership</h2>

            <p class="lead">
                There are two distinct components of the team. The people. And the technology that those people
                create. Together they are the lifeblood of any technology based organization. They will
                drag you behind your competition or spring-board you past your competition and set you up as the
                recognized leader and innovator in your space.
            </p>

            <h3 class="text-left">Technology Decision Maker</h3>
            <p class="lead">
                I believe every tech company needs a brilliant technology decision maker at the core of the team. This person
                is responsible for making the hard tech decisions. They are also responsible for driving the creation of
                something new, better, or different; something that sets your company apart from the pac. This person sets up
                the technology engine that drives the realization of your company's vision.
            </p>

            <h3 class="text-left">Technology People Leader</h3>
            <p class="lead">
                This person puts together a world class technology team and is the glue that keeps them together. This person
                understands what the team is doing and drives success by aligning the team with the broader company
                vision. This isn't so much decision making as it is decision guidance. This person expands the realm of what's
                possible in the minds of the company visionaries. In that capacity, this person helps focus the company and
                define and redefine the vision as the company grows. This person also acts as the tie breaker
                for tough decisions and weighs appropriately in what the company needs at that particular time.
            </p>

            <h3 class="text-left">I'm Somewhere In Between</h3>
            <p class="lead">
                I'm a people person, in that I care deeply about the people on my team. You won't hear me refer to them as
                <em>resources</em>; I will cringe when I hear that word applied to people. I will work to understand what
                motivates each individual of the team. I also have strong technology opinions and will put together the
                optimum technology stack for the time. I believe there is no right way to write code; I believe the most
                important aspect of the implementation at any given time is our ability to evolve it. The best architecture is
                is implemented for now, with an understanding what it will become tomorrow.
            </p>

            <h3 class="text-left">Let's Work Together!</h3>
            <p class="lead">I'm excited to hear about your startup and how we can work together to create something awesome for our world. I
            will empower your ideas to realization through the creative and innovative use of technology.</p>
        </div>
    </div>
</div>
<br/>
<br/>
</body>
</html>