<div class="blog-footer">
  <p>Be notified of new posts. <a href="http://feeds.feedburner.com/caoimhghin">Subscribe to the RSS feed.</a></p>
  <p>
    <a href="#">Back to top</a>
  </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/js/ie10-viewport-bug-workaround.js"></script>