<div id="intro" class="container-fluid">
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="text-left">Finally! Get Your Concept Coded – And Make Bank</h1>
                </div>
                <div id="intro-right-column" class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="/get-started/" class="btn btn-success btn-lg">Get Started Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12"><p>
                    (With No Fear Of Delay, With No Fear of Receiving Junk, And Without Having To Rob A Bank To Pay For It!)
                </p></div>
            </div>
        </div>
    </div>
</div>