<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>Kevin Amerson</h4>
        <p class="small"><em>Try many different things; do more of what works and less of what doesn't.</em></p>
        <ol class="list-unstyled">
            <li><a href="{{ site.twitter_user }}">Twitter</a></li>
            <li><a href="{{ site.github_user }}">GitHub</a></li>
            <li><a href="https://about.me/kevinamerson">About.me</a></li>
            <li><a href="https://linkedin.com/in/kevinamerson">Linked In</a></li>
        </ol>
    </div>
</div>