/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #444;
}


/*h2, .h2 {margin:24px 0; border-bottom: solid 1px #cccccc;}*/
/*h2:nth-of-type(1) {margin:0 0 24px 0;}*/

/*h3, .h3 {margin-top:24px;}*/
/*h3:nth-of-type(1) {margin:0;}*/

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.home {margin-bottom:48px;}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 0 15px -15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #F5F5F5;
  border-radius: 4px;

}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.post-meta {
    float:right;
}

.blog-sidebar {
    margin-top:24px;
}

h1 {font-weight:bold;margin-bottom:20px;}
h2 {border:none;text-decoration: none;}
h2 em {text-decoration:underline;font-style:normal;}
h3 {margin-bottom:12px;}
h3 em {text-decoration:underline;font-style:normal;}
h4 {margin-bottom:12px;font-weight:bold}
h5 {text-decoration:underline;margin-top:18px;margin-bottom:30px;}
h6 {text-decoration:underline;margin-bottom:20px;}

.marketing-container {
  line-height: 1.6;
}

.marketing-container ul li {font-size:14px;}
.marketing-container p {font-size:14px;}
.marketing-container p.small {font-size:85%;}
.marketing-container h1 {margin-left:20px;margin-right:20px;}
.marketing-container h2 {padding:12px;}
h1,
h2,
h3,
h4,
h5,
h6 {text-align:center;}

h1.blog-title,
.blog-main h2,
.blog-main h3,
.blog-main h4 {text-align:left;}

#case-study-milliontraqscom,
#case-study-creekroadranchcom {background-color:#C92E2E;color:#fff}

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:nth-of-type(1) {font-size:18px;}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.post-list li { margin-bottom:16px;
}

@media screen and (min-width: 768px){
.jumbotron h1, .jumbotron .h1 {
    font-size: 48px;
}}

#intro {
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%, rgba(34,34,34,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(34,34,34,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(34,34,34,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(34,34,34,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(34,34,34,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(69,72,77,1) 0%,rgba(34,34,34,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#222222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    color:#fff;
}

#intro .form-group label, .panel label {display:none;}
.panel .block-label {display:block}
#intro .btn {width:100%}

#intro .jumbotron {
    background:transparent;
    margin-bottom: 0;
}
#intro-right-column {
    margin-top:30px;
}
#intro p.tiny {
    font-size: small;margin-top:10px;
}
.teaser-icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 15px;
    color: #C44141;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
}
.teaser-icon .glyphicon { font-size: 48px; line-height:100px;}

.teaser {
    text-align:center;
}
.mkt .navbar {margin-bottom:0}
.mkt #intro {margin-top:0}

@media screen and (min-width: 768px) {
.jumbotron {
    padding-top: 32px;
    padding-bottom: 32px;
}
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


