/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  padding-top:20px;
}


/*h2, .h2 {margin:24px 0; border-bottom: solid 1px #cccccc;}*/
/*h2:nth-of-type(1) {margin:0 0 24px 0;}*/

/*h3, .h3 {margin-top:24px;}*/
/*h3:nth-of-type(1) {margin:0;}*/

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.home {margin-bottom:48px;}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 0 15px -15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #F5F5F5;
  border-radius: 4px;

}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.post-meta {
    float:right;
}

.blog-sidebar {
    margin-top:24px;
}
/*
 * Footer
 */
h1 {font-size:42px;font-weight:bold;margin-bottom:20px;}
h2 {font-size:24px;border:none;text-decoration: none;}
h2 em {text-decoration:underline;font-style:normal;}
h3 {font-size:20px;margin-bottom:12px;}
h3 em {text-decoration:underline;font-style:normal;}
h4 {font-size:16px;margin-bottom:12px;font-weight:bold}
h5 {font-size:16px;text-decoration:underline;margin-top:18px;margin-bottom:30px;}
h6 {font-size:16px;text-decoration:underline;margin-bottom:20px;}

.marketing-container {
  line-height: 1.6;
}

.marketing-container ul li {font-size:14px;}
.marketing-container p {font-size:14px;}
.marketing-container p.small {font-size:85%;}

.marketing-container h1 {margin-left:20px;margin-right:20px;}

.marketing-container h2 {background-color:#444;color:#fff;padding:12px;}
h1,
h2,
h3,
h4,
h5,
h6 {text-align:center;}

h1.blog-title,
.blog-main h2,
.blog-main h3,
.blog-main h4 {text-align:left;}

#case-study-milliontraqscom,
#case-study-creekroadranchcom {background-color:#C92E2E;}

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:nth-of-type(1) {font-size:18px;}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.post-list li { margin-bottom:16px;
}