---
layout: compress
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="mkt">

    <div id="intro" class="container-fluid">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-left">“Built With An Intense Focus On Performance, Reliability And Cost.”</h1>
                    </div>
                    <div class="col-md-12 text-center">
                        <a href="/get-started/" class="btn btn-danger btn-lg">Let's Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="teaser-icon">
                    <span class="glyphicon glyphicon-flash"></span>
                </div>
                <div class="teaser">
                    <h2><a href="#management">Website Management</a></h2>
                    <p class="lead">Maximize Your Site's Potential For Maximum Profit At Minimum Cost<br/><b>From $300.00 Per Year</b></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="teaser-icon">
                    <span class="glyphicon glyphicon-fire"></span>
                </div>
                <div class="teaser">
                    <h2><a href="#development">Web Development</a></h2>
                    <p class="lead">Big and small web-based projects written in Python. Hosted Anywhere.<br/><b>From $70.00 Per Hour</b></p>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <hr/>
    <br/>
    <br/>
    <div class="container marketing-container">
        <div class="row">
            <div class="col-md-12">
                {{ content }}
            </div>
        </div>
    </div>
    {% include footer.html %}
  </body>
</html>