---
layout: compress
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    {% include marketing-head.html %}
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="teaser-icon">
                    <span class="glyphicon glyphicon-list-alt"></span>
                </div>
                <div class="teaser">
                    <h2><a href="#development">Custom Web Development</a></h2>
                    <p class="lead">Professional development services for big and small web-based projects written in Python</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="teaser-icon">
                    <span class="glyphicon glyphicon-time"></span>
                </div>
                <div class="teaser">
                    <h2><a href="#management">Website Management Services</a></h2>
                    <p class="lead">Complete digital property management service addressing all fundamental website needs</p>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <hr/>
    <br/>
    <br/>
    <div class="container marketing-container">
        <div class="row">
            <div class="col-md-12">
                {{ content }}
            </div>
        </div>
    </div>
    {% include footer.html %}
  </body>
</html>