---
layout: compress
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="container marketing-container">
        <div class="row">
            <div class="col-sm-8">
                {{ content }}
            </div>
            {% include sidebar.html %}
        </div>
    </div>
    {% include footer.html %}
    <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">
twttr.conversion.trackPid('l5f2h');</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l5f2h&p_id=Twitter" />
<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l5f2h&p_id=Twitter" /></noscript>
  </body>
</html>